

.wd-textarea__inner::-webkit-input-placeholder {
  color: var(--wot-input-placeholder-color, #bfbfbf)
}



.wd-textarea__placeholder.is-error {
  color: var(--wot-input-error-color, var(--wot-color-danger, #fa4350))
}

.wd-textarea.is-not-empty:not(.is-disabled):after {
  background-color: var(--wot-textarea-not-empty-border-color, #262626)
}

.wd-textarea.is-disabled .wd-textarea__inner {
  color: var(--wot-input-disabled-color, #d9d9d9);
  background: transparent
}

.wd-textarea.is-error .wd-textarea__inner {
  color: var(--wot-input-error-color, var(--wot-color-danger, #fa4350));
  background: transparent
}

.wd-textarea.is-auto-height:not(.is-cell) {
  padding: 5px 0
}

.wd-textarea.is-auto-height:after {
  display: block
}

.wd-textarea.is-no-border:after {
  display: none
}

.wd-textarea.is-cell {
  display: flex;
  line-height: var(--wot-cell-line-height, 24px)
}

.wd-textarea.is-cell.is-error:after {
  background: var(--wot-textarea-cell-border-color, var(--wot-color-border-light, #e8e8e8))
}

.wd-textarea.is-cell .wd-textarea__value {
  flex: 1
}

.wd-textarea.is-cell .wd-textarea__icon {
  display: inline-flex;
  align-items: center;
  height: var(--wot-textarea-cell-height, 24px);
  line-height: var(--wot-textarea-cell-height, 24px)
}

.wd-textarea.is-cell .wd-textarea__prefix {
  display: inline-block;
  margin-right: var(--wot-cell-icon-right, 4px)
}

.wd-textarea.is-cell.wd-textarea:after {
  display: none
}

.wd-textarea.is-cell .wd-textarea__suffix {
  right: 0
}

.wd-textarea.is-cell.is-center {
  align-items: center
}

.wd-textarea.is-cell.is-border {
  position: relative
}

.wd-textarea.is-cell.is-border:after {
  position: absolute;
  display: block;
  content: "";
  width: calc(100% - var(--wot-textarea-cell-padding, 10px));
  height: 1px;
  left: var(--wot-textarea-cell-padding, 10px);
  top: 0;
  -webkit-transform: scaleY(.5);
  transform: scaleY(.5);
  background: var(--wot-color-border-light, #e8e8e8)
}

.wd-textarea.is-large {
  padding: var(--wot-textarea-cell-padding-large, 12px)
}

.wd-textarea.is-large .wd-textarea__prefix,.wd-textarea.is-large .wd-textarea__label-inner,.wd-textarea.is-large .wd-textarea__inner {
  font-size: var(--wot-textarea-fs-large, var(--wot-cell-title-fs-large, 16px))
}

.wd-textarea.is-large .wd-textarea__count {
  font-size: var(--wot-textarea-count-fs-large, 14px)
}

.wd-textarea.is-large .wd-textarea__icon,.wd-textarea.is-large .wd-textarea__clear {
  font-size: var(--wot-textarea-icon-size-large, 18px)
}
