 .wd-picker__popup {
  border-radius: 16px 16px 0 0
}


.wd-picker.is-border .wd-picker__cell {
  position: relative
}

.wd-picker.is-border .wd-picker__cell:after {
  position: absolute;
  display: block;
  content: "";
  width: calc(100% - var(--wot-cell-padding, var(--wot-size-side-padding, 15px)));
  height: 1px;
  left: var(--wot-cell-padding, var(--wot-size-side-padding, 15px));
  top: 0;
  -webkit-transform: scaleY(.5);
  transform: scaleY(.5);
  background: var(--wot-color-border-light, #e8e8e8)
}

.wd-picker.is-large .wd-picker__cell {
  font-size: var(--wot-cell-title-fs-large, 16px)
}

.wd-picker.is-large .wd-picker__arrow {
  font-size: var(--wot-cell-icon-size-large, 18px)
}

.wd-picker.is-error .wd-picker__value,.wd-picker.is-error .wd-picker__placeholder,.wd-picker.is-error .wd-picker__arrow {
  color: var(--wot-input-error-color, var(--wot-color-danger, #fa4350))
}

.wd-picker.is-align-right .wd-picker__value {
  text-align: right
}

.wd-picker__cell {
  text-decoration: none;
}

.wd-picker__cell.is-disabled .wd-picker__value {
  color: var(--wot-input-disabled-color, #d9d9d9)
}

.wd-picker.is-disabled .wd-picker__value {
  color: var(--wot-picker-column-disabled-color, rgba(0, 0, 0, .25))
}

.wd-picker__label.is-required:after {
  position: absolute;
  left: 0;
  top: 2px;
  content: "*";
  font-size: var(--wot-cell-required-size, 18px);
  line-height: 1.1;
  color: var(--wot-cell-required-color, var(--wot-color-danger, #fa4350))
}




