
.wot-theme-dark .wd-navbar-capsule:before {
  border: .0625rem solid var(--wot-dark-border-color, #3a3a3c)
}

.wot-theme-dark .wd-navbar-capsule:after {
  background: var(--wot-dark-border-color, #3a3a3c)
}

.wot-theme-dark .wd-navbar-capsule .wd-navbar-capsule__icon {
  color: #fff
}

.wd-navbar-capsule {
  position: relative;
  box-sizing: border-box;
  width: var(--wot-navbar-capsule-width, 88px);
  height: var(--wot-navbar-capsule-height, 32px);
  display: flex;
  align-items: center;
  justify-content: center
}

.wd-navbar-capsule:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 200%;
  -webkit-transform: scale(.5);
  transform: scale(.5);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  box-sizing: border-box;
  border-radius: calc(var(--wot-navbar-capsule-border-radius, 16px) * 2);
  border: .0625rem solid var(--wot-navbar-capsule-border-color, #e7e7e7)
}

.wd-navbar-capsule:after {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 1px;
  height: 1.125rem;
  background: var(--wot-navbar-capsule-border-color, #e7e7e7)
}

.wd-navbar-capsule:empty {
  display: none
}

 .wd-navbar-capsule__icon {
  flex: 1;
  position: relative;
  color: var(--wot-navbar-desc-font-color, var(--wot-font-gray-1, rgba(0, 0, 0, .9)));
  font-size: var(--wot-navbar-capsule-icon-size, 20px)
}