.wd-segmented {
  position: relative;
  display: flex;
  align-items: stretch;
  justify-items: flex-start;
  width: 100%;
  background-color: var(--wot-segmented-item-bg-color, #eeeeee);
  padding: var(--wot-segmented-padding, 4px);
  border-radius: 4px;
  box-sizing: border-box
}

.wd-segmented__item {
  position: relative;
  text-align: center;
  border-radius: 4px;
  flex: 1;
  min-width: 0;
  z-index: 1;
  min-height: 28px;
  line-height: 28px;
  padding: 0 12px;
  font-size: 14px;
  color: var(--wot-segmented-item-color, rgba(0, 0, 0, .85));
  font-weight: 400
}

.wd-segmented__item.is-active {
  font-weight: 550
}

.wd-segmented__item.is-large {
  min-height: 32px;
  line-height: 32px;
  padding: 0 12px;
  font-size: 16px
}

.wd-segmented__item.is-small {
  min-height: 24px;
  line-height: 24px;
  padding: 0 7px;
  font-size: 12px
}

.wd-segmented__item.is-disabled {
  cursor: no-drop;
  color: var(--wot-segmented-item-disabled-color, rgba(0, 0, 0, .25))
}
