.wot-theme-dark .wd-index-anchor {
  background-color: var(--wot-color-gray-8, #323233);
  color: var(--wot-color-white, rgb(255, 255, 255))
}

.wd-index-anchor {
  background-color: var(--wot-color-gray-2, #f2f3f5);
  padding: 10px;
  font-size: 14px;
  color: var(--wot-color-title, var(--wot-color-black, rgb(0, 0, 0)))
}

.wd-index-anchor.is-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1
}