
.wd-index-bar {
  position: relative;
  width: 100%;
  height: 100%
}

.wd-index-bar__content {
  width: 100%;
  height: 100%
}

.wd-index-bar__sidebar {
  position: absolute;
  top: 50%;
  right: 4px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%)
}

.wd-index-bar__index {
  font-size: 12px;
  font-weight: var(--wot-fw-medium, 500);
  color: var(--wot-color-title, var(--wot-color-black, rgb(0, 0, 0)));
  padding: 4px 6px
}

.wd-index-bar__index.is-active {
  color: var(--wot-color-theme, #4d80f0)
}