
.wd-notify {
  word-wrap: break-word
}

.wd-notify--primary {
  background: var(--wot-notify-primary-background, var(--wot-color-theme, #4d80f0))
}

.wd-notify--success {
  background: var(--wot-notify-success-background, var(--wot-color-success, #34d19d))
}

.wd-notify--danger {
  background: var(--wot-notify-danger-background, var(--wot-color-danger, #fa4350))
}

.wd-notify--warning {
  background: var(--wot-notify-warning-background, var(--wot-color-warning, #f0883a))
}
