.wot-theme-dark .wd-count-down {
  color: #fff
}

.wd-count-down {
  color: var(--wot-count-down-text-color, var(--wot-color-gray-8, #323233));
  font-size: var(--wot-count-down-font-size, var(--wot-fs-content, 14px));
  line-height: var(--wot-count-down-line-height, 20px)
}