@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* 主题色 */
    --primary: 221.23 84.46% 62.16%;
    --success: 160.13 63.05% 51.18%;
    --warning: 25.71 85.85% 58.43%;
    --danger: 355.74 94.82% 62.16%;

    /* 正文 */
    --main-text: 0 0% 14.9%;

    /* 遮罩层背景色 */
    --overlay-bg: 0 0% 0% / 65%;
    --backtop-bg: 0 0% 88.24%;

    /* f7f8fa */
    --gray-1: 0 0% 96.8%;
    /* f2f3f5 */
    --gray-2: 0 0% 94.9%;
    /* c8c9cc */
    --gray-5: 0 0% 80%;
    --gray-8: 0 0% 19.8%;
  }

  .dark {
    /* 遮罩层背景色 */
    --overlay-bg: 0 0% 0% / 75%;
  }
}

.tap-transparent {
  -webkit-tap-highlight-color: transparent;
}

.pb-safe {
  padding-bottom: constant(safe-area-inset-bottom);
  padding-bottom: env(safe-area-inset-bottom);
}

.backface-visibility-hidden {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
