
.wot-theme-dark .wd-year-panel__title {
  color: #fff;
  box-shadow: 0 4px 8px rgba(255,255,255,.02)
}

.wd-year-panel {
  font-size: var(--wot-calendar-fs, 16px);
  padding: var(--wot-calendar-panel-padding, 0 12px)
}

.wd-year-panel__title {
  padding: 5px 0;
  text-align: center;
  font-size: var(--wot-calendar-panel-title-fs, 14px);
  color: var(--wot-calendar-panel-title-color, rgba(0, 0, 0, .85));
  box-shadow: 0 4px 8px rgba(0,0,0,.02)
}